.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1000px;
  padding: 120px 20px 40px 20px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  color: #c8c8c8;
  align-items: center;
}

.footer-texto {
  font-size: 1.25rem;
  max-width: 40ch;
}

.footer-contato li {
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #fff;
}

.social-links {
  display: flex;
  place-items: center;
  justify-items: end;
}

.social-links li {
  padding: 12px;
  margin-right: 1rem;
}


.direitos {
  color: #c8c8c8;
}

@media (max-width: 767px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .formacao-container::after {
    top: 1100px;
  }
  .footer-texto {
    font-size: 1.25rem;
  }
  .footer-contato li a {
    background-color: #000;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}