.header {
  max-width: 1000px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu li a {
  font-size: 1.125rem;
  text-decoration: none;
  display: block;
  color: #141414;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  a{
    background-color: #f7f7f7;
    border-radius: 8px;
  }
}